<!doctype html>
<html>
    <head>
        <title>Social Network Feed in Flask</title>
    </head>
    <body>
        <form action='/' method='post'>
            {{ form.csrf_token }}
            {{ form.name.label }}<br/>
            {{ form.name(placeholder="Name") }}<br/>
            {{ form.content.label }}<br/>
            {{ form.content(placeholder="Post Content") }}<br/>
            {{ form.submit }}<br/>
        </form>
        {% for post in posts %}
            <div>{{ post.name + ': ' + post.content }}</div>
        {% endfor %}
    </body>
</html>